DirectoryIndex disabled                                                               
# Redirect traffic to your port 6451                                                 
RewriteEngine On                                                                     
RewriteBase /                                                                         
RewriteRule ^(.*)?$ http://127.0.0.1:6451/$1 [P,L]    