DirectoryIndex disabled                                                               
# Redirect traffic to your port 6455                                                 
RewriteEngine On                                                                     
RewriteBase /                                                                         
RewriteRule ^(.*)?$ http://127.0.0.1:6455/$1 [P,L]    