DirectoryIndex disabled                                                               
# Redirect traffic to your port 6458                                                 
RewriteEngine On                                                                     
RewriteBase /                                                                         
RewriteRule ^(.*)?$ http://127.0.0.1:6458/$1 [P,L]    